<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<title>{% block title %}Sea Turtle Swim School, San Jose CA{% endblock %}</title>


<link rel="stylesheet" type="text/css" href="/media/css/reset.css" media="all" />
<link rel="stylesheet" type="text/css" href="/media/css/main.css" media="all" />
<link rel="stylesheet" href="/media/css/sIFR-screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/css/sIFR-print.css" type="text/css" media="print" />
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/cupertino/jquery-ui.css" media="all" />


<script src="/media/js/sifr.js" type="text/javascript"></script>
<script src="/media/js/sifr-config.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>


{% block external %}{% endblock %}

</head>

<body class="{% block body_class %}page{% endblock %}">
	<div id="wrapper">
		<div id="header">
			<a href="/"><img id="logo" src="/media/img/logo.png" alt="Sea Turtle Swim School Logo" /></a>
			<ul id="navbar">
				<li id="nhome"><a href="/" alt="Homepage">Home</a></li>
				<li id="nlessons"><a href="/lessons" alt="Information">Info</a></li>
				<li id="nregister"><a href="/register" alt"Lesson Registration">Register</a></li>
				<li id="ncalendar"><a href="/schedule/season" alt="Swim Lesson Season"><span class="navlink">Calendar</span></a></li>
				<li id="ncontact"><a href="/contact" alt="Contact"><span class="navlink">Contact</span></a></li>
			</ul>
		</div>
		<div id="content">
			<div id="turtlebg">
			{% if messages %}
				<ul class="messages">
				    {% for message in messages %}
				    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				    {% endfor %}
				</ul>
			{% endif %}
			{% block content %}
			
			{% endblock %}
			</div>
		</div>

		<div id="footer">
		
		</div>
		<ul id="footerlinks">
			<li><a href="/">Home</a></li>|
			<li><a href="/lessons" alt="Swim Lessons">Lessons</a></li>|
			<li><a href="/register" alt="Lesson Registration">Register</a></li>|
			<li><a href="/schedule/season" alt="Calendar">Calendar</a></li>|
			<li><a href="/contact" alt="Contact">Contact</a></li>
		</ul>
		
		<div id="copyright">
			<p>Copyright &copy 2011 Sea Turtle Swim School, Inc.</p>
		</div>
	</div>
</body>

</html>